body {
    text-align: center;
    margin: 0;
    font-size: x-large;
    font-family: 'Grandstander', cursive;
}

button {
    background-color: #ccda46;
    padding: 8px 14px 8px 14px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-size: large;
    font-family: 'Grandstander', cursive;
}

button:hover {
    background-color: #697c37;
    cursor: pointer;
    color: white;
}